
.themes-dropdown-button {
  color: var(--font-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  padding: 0px;
}
  
  .themes-dropdown-menu {
    list-style: none;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
  }

  ul{
    margin-bottom: 0;
    margin-top: 0.5rem;
  }


  .themes-dropdown-item {
    color: var(--font-color);
    border-radius: 4rem;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center; 

  }

  .themes-dropdown-menu.open {
    max-height: 21.25rem; 
    opacity: 1;
    pointer-events: auto;
  }

  .themes-dropdown-item:hover{
    background-color: var(--light);
  }

  .color-box {
    border-radius: 100%;
    width: 1rem; 
    height: 1rem; 
    border: 1px solid var(--font-color); 
  }
  
  .filled {
    background-color: var(--font-color); 
  }
  
  .themes-arrow{
    filter: invert(var(--picture-color));
    width: 1.5rem;
    position: relative;
    top: 0.4rem;
    left: 9.2rem;
    transition: transform 0.3s ease; 
 
  }

  .themes-arrow.rotated {
    transform: rotate(180deg);
  }